<div class='wrapper'>
  <div class='sidebar'>
    <%= render 'shared/sidebar' %>
  </div>
  <div class='main'>
    <div class="student-show">
      <% @tests.each do |test| %>
        <table class="test-table">
          <tr>
            <th colspan="4"><%= test.test_name.name %></th>
          </tr>
          <tr>
            <td colspan="4"><%= @student.last_name_kana %><%= @student.first_name_kana %></td>
          </tr>
          <tr>
            <td colspan="4"><%= @student.last_name %><%= @student.first_name %></td>
          </tr>
          <tr>
            <td>国語</td><td><%= test.japanese_score %></td><td>平均点</td><td><%= test.japanese_average_score %></td>
          </tr>
          <tr>
            <td>数学</td><td><%= test.mathematics_score %></td><td>平均点</td><td><%= test.mathematics_average_score %></td>
          </tr>
          <tr>
            <td>英語</td><td><%= test.english_score %></td><td>平均点</td><td><%= test.english_average_score %></td>
          </tr>
          <tr>
            <td>社会</td><td><%= test.sosial_score %></td><td>平均点</td><td><%= test.sosial_average_score %></td>
          </tr>
          <tr>
            <td>理科</td><td><%= test.science_score %></td><td>平均点</td><td><%= test.science_average_score %></td>
          </tr>
          <tr>
            <td>合計</td><td colspan="3"><%= test.total_score %></td>
          </tr>
          <tr>
            <td>順位</td><td colspan="3"><%= test.rank %></td>
          </tr>
        </table>
        <div class="option">
          <%= link_to '編集', edit_test_path(test), method: :get , class:"edit-btn" %>
          <%= link_to '削除', test_path(test), method: :delete, class:"delete-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>