<div class='wrapper'>
  <div class='sidebar'>
    <%= render 'shared/sidebar' %>
  </div>
  <div class='main'>
    <table>
      <tr>
        <th>学年</th><th>生徒名</th><th>テスト</th><th>5教科合計</th>
      </tr>
      <% @tests.each do |test| %>
        <tr>
          <td><%= test.student.grade.name %></td>
          <td>
            <%= link_to "#{test.student.last_name}#{test.student.first_name}", student_path(test.student) %>
          </td>
          <td><%= test.test_name.name %></td>
          <td><%= test.total_score %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to(new_test_path, class: "test-btn") do %>
      <span class="test-btn-text">新規テスト</span>
      <%= image_tag 'plus-icon.png' , size: '180x50' ,class: "test-btn-icon" %>
    <% end %>
  </div>
</div>